%h1 About

%h2 About AirCasting

%p
  AirCasting is a platform for recording, mapping, and sharing environmental data
  using your smartphone. Currently, AirCasters can upload sound level data
  recorded by their phone’s microphone. AirCasting is intended for measuring
  outdoor noise. Soon, we’ll expand the range of devices that plug into the
  AirCasting platform to include sound level meters and pollution sensors.

%p
  Each AirCasting session lets you capture real-world measurements, annotate the
  data to tell your story, and share it with a local and world-wide community via
  the CrowdMap. What was conjecture based on casual observation now becomes a
  measurable fact. For example, you might think: “This noisy neighborhood is
  disrupting my sleep.” Use AirCasting to identify the factual cause: “The twelve
  noise spikes greater than 65 decibels between 2am and 6am significantly
  degraded my quality of sleep.” When you share your AirCasting data with other
  AirCasters, your data and notes become a social statement, linking your
  experiences to the community’s observations.

%p
  We began AirCasting by measuring sound levels in New York City for three reasons:

%ol
  %li New Yorkers care about neighborhood noise; it’s the #1 complaint filed with the City’s 311 hotline.
  %li Unwanted noise negatively impacts people’s health.
  %li Smartphones already have microphones, so no additional hardware is required.

%p
  Start measuring the air in your environment. What will you discover? What
  stories will you tell with AirCasting? Where’s the noisy corner or quiet
  sanctuary in your neighborhood? Together, with AirCasting, we can better
  understand and improve our environment.

%h2 How to Use the AirCasting Maps

%p
  The environmental data collected by AirCasters can be filtered and displayed on
  the AirCasting website maps using one of two views: “CrowdMap” and “Sessions”.
  Use the tabs on the filter menu to toggle between the two. The CrowdMap view is
  the default.

%p
  The CrowdMap displays AirCasting data from all contributors. Each square’s
  color corresponds to the average intensity of all the readings recorded in that
  area. Refer to the “Heat Legend ” to identify the intensity range for a square.
  For example, an orange square corresponds to an average sound level between 71
  and 80 decibels. If no colors are displayed, there’s no data in that area.
  Filter the CrowdMap display by changing the time frame or by searching for
  specific tags. Increase the “CrowdMap Resolution” to display averages for
  smaller areas. Click “submit” to refresh the map and to display your filter
  selections.

%p
  The Sessions map displays the routing and intensity information for AirCasting
  sessions. A dot’s color corresponds to a reading’s intensity at that location.
  Refer to the “Heat Legend ” to identify the intensity range for a reading. For
  example, a yellow dot corresponds to a sound level reading between 61 and 70
  decibels. Hover your mouse over a dot to generate a tooltip with the exact
  reading. Filter an AirCasting session by changing the time frame or searching
  for specific tags. Click “submit” to refresh the sessions list. Check the
  box(es) next to a session(s), and click “submit” to map and display sessions.

%h2 Limitations

%p
  Sound level readings recorded by phone microphones may not always be accurate.
  In addition, AirCasters might contribute data to the AirCasting platform
  without following the Sound Recording Best Practices Guide. In the near term,
  we will work to increase the accuracy of the underlying data by improving the
  Sound Recording Best Practices Guide, creating mapping filters that can
  segregate and display data from selected AirCasters only, adjusting the default
  “microphone maximum” setting in the app to match the specifications of the
  Android device on which it is installed, and further developing the AirCasting
  app to receive data from sound level meters.

%h2 Health Effects of Noise Pollution

%p
  Noise is a major environmental issue, affecting large numbers of people,
  particularly in urban areas. Evidence from large-scale epidemiological studies
  links exposure to unwanted environmental noise with adverse health effects.
  Effects include cardiovascular disease, cognitive impairment, sleep
  disturbance, and tinnitus. Environmental noise should be viewed as a public
  health concern, not just as a nuisance. For more information on the health
  impacts of unwanted noise, visit the
  = link_to "Environmental Protection Agency's website", "http://www.epa.gov/air/noise.html"
  or read this report recently published by the World Health Organization:
  = link_to("Burden of disease from environmental noise", "http://www.euro.who.int/en/what-we-publish/abstracts/burden-of-disease-from-environmental-noise.-quantification-of-healthy-life-years-lost-in-europe") + '.'

%h2 AirCasting is a HabitatMap Project

%p
  HabitatMap is a non-profit environmental health justice organization whose goal
  is to raise awareness about the impact the environment has on human health. We
  build tools to support grassroots environmental organizing, including
  = link_to "HabitatMap.org", "http://habitatmap.org"
  \- our community mapping platform - and AirCasting.

%h2 Open Source

%p
  AirCasting is an open source project. You can access the code repositories for the
  = link_to "AirCasting Android app", "https://github.com/LunarLogicPolska/AirCastingAndroidClient"
  and the 
  = link_to "AirCasting web app", "https://github.com/LunarLogicPolska/AirCasting"
  through GitHub.
%h2 Thanks!

%p
  To
  = link_to "Lunar Logic Polska", "http://www.lunarlogicpolska.com"
  for programming the AirCasting website and Android app, to
  = link_to "Tim Dye", "http://www.sonomatech.com/staff.cfm?uemployeeid=8"
  for big ideas and constructive feedback, to
  = link_to "Brooke Singer", "http://www.bsing.net"
  for helping steer the project in the right direction.

%h2 Funders

%p
  Start-up funding for AirCasting was provided by a Google Earth Outreach
  Developer Grant from the Google Inc. Charitable Giving Fund of Tides
  Foundation. The New York Community Trust has committed to fund additional
  development of the AirCasting platform through a partnership between
  HabitatMap, the
  = link_to "New York Hall of Science", "http://www.nysci.org/"
  , and the Hive Learning Network NYC.

%h2 Have Questions or Feedback? Contact Us

%p
  Contact us via email: info@habitatmap.org, or call: 347.410.9499.
