%header.menu-collapsed
  .logo
    = link_to '/', 'aria-label' => 'homepage' do
      = image_tag 'aircasting-logo-nav-OLD.svg', alt: 'Aircasting logo'

  %nav.nav{ role: 'navigation' }
    %ul
      %li{ class: request.path == '/' ? 'active' : '' }>
        = link_to 'Home', '/', class: 'nav__link'
      %li{ class: request.path.start_with?(about_path) ? 'active' : '' }>
        = link_to 'About', about_path, class: 'nav__link'
      %li>
        = link_to 'Maps', map_path, class: 'nav__link'
      %li>
        = link_to 'Blog', 'http://www.takingspace.org/', target: '_blank', rel: 'noreferrer', class: 'nav__link'
      %li{ class: request.path.start_with?(donate_path) ? 'active' : '' }>
        = link_to 'Donate', donate_path, class: 'nav__link'

  = button_tag '', class: 'nav__menu-button nav__menu-button--hamburger js-menu-button', title: 'Menu', type: 'button', 'aria-label' => 'Menu'
