%nav.nav
  .nav-logo
    =image_tag ('aircasting-logo-nav.svg')
  %ul
    %li{:class => request.path == '/' ? 'active' : ''}
      = link_to 'Home', '/'
    %li{:class => request.path.start_with?(about_path) ? 'active' : ''}
      = link_to 'About', about_path
    %li{:class => ''}
      = link_to 'Maps', map_path
    %li
      = link_to 'Blog', 'http://www.takingspace.org/', :target => '_blank', :rel => 'noreferrer'
    %li{:class => request.path.start_with?(donate_path) ? 'active' : ''}
      = link_to 'Donate', donate_path
