%div.desc
  %p
    = image_tag 'AirCastingPhone.png', :class => 'inline-image'

    AirCasting is a platform for recording, mapping, and sharing environmental data
    using your smartphone. Currently, AirCasters can upload sound level data
    recorded by their phone’s microphone. AirCasting is intended for measuring
    outdoor noise.  Soon, we’ll expand the range of devices that plug into the
    AirCasting platform to include sound-level meters and pollution sensors.
    AirCasting lets you broadcast what’s happening in your environment, crowdsource
    your information with that from other AirCasters, and identify patterns and
    commonalities.

  %p
    To start recording, mapping, and sharing sound level data for your
    neighborhood, simply <a href="https://market.android.com/details?id=pl.llp.aircasting">download the AirCasting app</a> to your
    Android device and press play. Don’t have an Android device? Check out the
    <a href="#{map_path}">AirCasting maps</a> to see if someone has already
    contributed data for your area.

%p.download
  %a.download-link.button{:href => "https://market.android.com/details?id=pl.llp.aircasting"} Download AirCasting

%div.features
  %p.feature
    = image_tag 'RecordAndMap.png'

    Record&nbsp;&amp;&nbsp;Map Environmental&nbsp;Data

  %p.feature
    = image_tag 'ContributeToCrowdMap.png'

    Contribute&nbsp;to&nbsp;the CrowdMap

  %p.feature.last
    = image_tag 'Share.png'

    Share&nbsp;Your AirCasting&nbsp;Sessions
