<div class="note-window">
  <div class="header">
    <span class="date"><%= AC.util.parseTime(note.date, timezoneOffset).toString("MM/dd/yy HH:mm") %></span>
    <div class="right">
      <span class="number"><%= noteNumber + 1 %>/<%= notesLength %></span>
      <a href="#" class="prev-note" title="View previous note"></a>
      <a href="#" class="next-note" title="View next note"></a>
    </div>
  </div>
  <div class="content">
    <% if(note.photo) { %> 
      <a class="lightbox" href="<%= note.photo %>"/>
        <div class="photo">
          <img src="<%= note.photo_thumbnail %>"/>
        </div>
      </a>
    <% } %>
    <p><%= note.text %></p>
  </div>
</div>
