<ul>
  <li><span>Readings for: </span><%= sensor.get("measurement_type") %></li>
  <li><span>Average reading: </span><%= Math.round(region.get("averages")[sensor.get("sensor_name")]) %> <%=  sensor.get("unit_symbol")%></li>
  <li><span># of samples: </span><%= region.get("number_of_samples_per_sensor")[sensor.get("sensor_name")] %></li>
  <li><span># of contributors: </span><%= region.get("number_of_contributors_per_sensor")[sensor.get("sensor_name")] %></li>
  <li><span>Top contributors: </span><%= region.get("top_contributors").join(", ") %></li>
  <%= $averages = region.get("averages") %>
</ul>
