!!! 5
%html
  %head
    %title AirCasting
    = stylesheet_link_tag  "application"
    = favicon_link_tag "favicon.png"
    = csrf_meta_tags
    = render :partial => 'shared/analytics'
    = render :partial => 'shared/fb_logo'

  %body(id="home")
    = render :partial => 'shared/left_hud'
    #content
      = yield

