!!! 5
%html{lang: 'en', 'ng-app': 'aircasting'}
  %head
    %meta{
      name: 'viewport',
      content: 'width=device-width, initial-scale=1 maximum-scale=1'
    }/
    %meta{
      name: 'description',
      content: 'AirCasting is an open-source, end-to-end solution for collecting, displaying, and sharing health and environmental data.'
    }/
    %title AirCasting
    = render partial: 'shared/gtm'
    = csrf_meta_tags
    = canonical_link_tag
  %body
    = render partial: 'shared/noscript_gtm'
    = yield
