!!! 5
%html{lang: 'en'}
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %meta{
      name: 'description',
      content: 'AirCasting station graph showing health and environmental data (air quality, temperature, humidity, sound levels and more) changing in time.'
    }/
    %title AirCasting
    = javascript_include_tag *webpack_asset_urls('react-app', 'js'), defer: true
    = stylesheet_link_tag *webpack_asset_urls('react-app', 'css'), defer: true
    = render partial: 'shared/gtm'
    = csrf_meta_tags
    = render partial: "shared/favicon"
  %body
    = render partial: 'shared/noscript_gtm'
  = yield
