!!! 5
%html{lang: 'en'}
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %meta{
      name: 'description',
      content: 'AirCasting station graph showing health and environmental data (air quality, temperature, humidity, sound levels and more) changing in time.'
    }/
    %title AirCasting
    - unless request.path.start_with?('/api/') || request.head?
      %link{
        rel: 'canonical',
        href: request.original_url.gsub(/^http:/, 'https:')
      }/
    :javascript
      window.APP_CONFIG = {
        API_STREAM_URL: '#{ENV['API_STREAM_URL'] || 'http://localhost:3000/api/v3'}',
        API_BASE_URL: '#{ENV['API_BASE_URL'] || 'http://localhost:3000/api/v2'}'
      };
    = javascript_include_tag *webpack_asset_urls('react-app', 'js'), defer: true
    = stylesheet_link_tag *webpack_asset_urls('react-app', 'css'), defer: true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{A9n.google_maps_api_key}&libraries=places&v=quarterly"
    = render partial: 'shared/gtm'
    = csrf_meta_tags
    = render partial: "shared/favicon"
  %body
  = yield
