!!! 5
%html(lang="en" ng-app="aircasting")
  %head
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %meta(name='description' content='AirCasting map showing health and environmental data like air quality, temperature, humidity, sound levels and more.')
    %title AirCasting
    = stylesheet_pack_tag "elm", async: true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{A9n.google_maps_api_key}&libraries=places", async: true
    = javascript_pack_tag "elm", defer: true
    = javascript_pack_tag "application", async: true
    = render partial: 'shared/fb_logo'
    = render partial: 'shared/gtm'
    = csrf_meta_tags
    = render partial: "shared/favicon"

  %body
    = render partial: 'shared/noscript_gtm'

  = yield
