!!! 5
%html(ng-app="aircasting")
  %head
    %title AirCasting
    = stylesheet_link_tag    "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.png"
    = csrf_meta_tags
    = render :partial => 'shared/analytics'
    = render :partial => 'shared/fb_logo'

  %body(id="map")
    #mapview(googlemap)
    #hud(ng-controller="HudCtrl" ng-hide="googleMapManager.streetViewVisible()")
      = render :partial => 'shared/left_hud'
      #right-hud
        = yield
      #ajax-loader
      #zoom-box
        .content
          #zoom-out(ng-click = "zoomStep(-1)")
          #zoom-slider(slider=true slider-min=3 slider-max=21 slider-callback="onZoom" slider-value="googleMapManager.getZoom()")
          #zoom-in(ng-click="zoomStep(1)")

:javascript
  window.marker1_path = '#{image_path "marker1.png"}';
  window.marker2_path = '#{image_path "marker2.png"}';
  window.marker3_path = '#{image_path "marker3.png"}';
  window.marker4_path = '#{image_path "marker4.png"}';
  window.marker_note_path = '#{image_path "marker_note.png"}';
  window.location_marker_path = '#{image_path "location_marker.png"}';


